body {
  background-image: url(https://i.pinimg.com/736x/81/f8/62/81f862a464012e47bc9b2102924539f0.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    color: #f0f0f0;
    font-family: Arial, sans-serif;
    width: 400px;
    margin: 150px auto;
    text-align: center;
    height: 400px;
    border-radius: 10px;
    background-image: url(https://i.pinimg.com/736x/97/c9/5e/97c95e3806c665d68250bc5e18cb9792.jpg);
    background-size: contain;
    background-repeat: repeat;
}
#result{
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 300px;
    text-align: center;
    font-size: 1.2em;
    height: 25px;
    overflow-wrap: break-word;
    border-radius: 5px;
}
#generate{
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}
#generate:hover{
    background-color: #42d149;
}